[Unit]
Description=Searcher for Movies
Wants=network-online.target
After=network-online.target

[Container]
Pod=servarr.pod
ContainerName=bazarr

Image=lscr.io/linuxserver/bazarr:latest

Environment=TZ=Europe/Madrid
Environment=PUID=1001
Environment=PGID=1001

#PublishPort=6767:6767/tcp

Volume=/home/media/bazarr/config:/config:Z
Volume=/mnt/data/movies:/movies:z
Volume=/mnt/data/tv:/tv:z

AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
