[Unit]
Description=Manage indexers
Wants=network-online.target
After=network-online.target

[Container]
Pod=servarr.pod
ContainerName=jackett

Image=lscr.io/linuxserver/jackett:latest

Environment=TZ=Europe/Madrid
Environment=PUID=1001
Environment=PGID=1001

#PublishPort=9696:9696/tcp

Volume=/home/media/jackett/config:/config:Z
Volume=/mnt/data/tv:/tv:z
Volume=/mnt/data/torrent:/downloads:z

AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
