[Unit]
Description=DLNA mini server
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=minidlna

Image=docker.io/vladgh/minidlna:latest

Environment=TZ=Europe/Madrid
Environment=PUID=1001
Environment=PGID=1001
Environment=MINIDLNA_MEDIA_DIR=/media
Environment=MINIDLNA_FRIENDLY_NAME=rpi-server
Environment=MINIDLNA_MEDIA_DIR_2=P,/media/pictures

#PublishPort=32400:32400/tcp

Volume=/home/media/plex/config:/config:Z
Volume=/mnt/data:/media:z
Volume=/mnt/media/pictures:/media/pictures:z

AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
