[Unit]
Description=Plex Media Server
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=plex

Image=lscr.io/linuxserver/plex:latest

Pod=plex.pod

Environment=TZ=Europe/Madrid
Environment=VERSION=docker
Environment=PUID=1001
Environment=PGID=1001

AddDevice=/dev/dri


Volume=/home/media/plex/config:/config:Z
Volume=/mnt/data/tv:/tv:z
Volume=/mnt/data/movies:/movies:z
Volume=/mnt/data/transcoded:/transcoded:z

AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
