[Unit]
Description=Searcher for Movies
Wants=network-online.target
After=network-online.target

[Container]
Pod=servarr.pod
ContainerName=radarr

Image=lscr.io/linuxserver/radarr:latest

Environment=TZ=Europe/Madrid
Environment=PUID=1001
Environment=PGID=1001

#PublishPort=7878:7878/tcp

Volume=/home/media/radarr/config:/config:Z
Volume=/mnt/data/movies:/movies:z
Volume=/mnt/data/torrent:/downloads:z

AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
