[Unit]
Description=Searcher for TV Shows
Wants=network-online.target
After=network-online.target

[Container]
Pod=servarr.pod
ContainerName=sonarr

Image=lscr.io/linuxserver/sonarr:latest

Environment=TZ=Europe/Madrid
Environment=PUID=1001
Environment=PGID=1001

#PublishPort=8989:8989/tcp

Volume=/home/media/sonarr/config:/config:Z
Volume=/mnt/data/tv:/tv:z
Volume=/mnt/data/torrent:/downloads:z

AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
