[Unit]
Description=Transmission Torrent Client
Wants=network-online.target
After=network-online.target

[Container]
Pod=servarr.pod
ContainerName=transmission

Image=lscr.io/linuxserver/transmission:latest

Environment=TZ=Europe/Madrid
Environment=PUID=1001
Environment=PGID=1001

#PublishPort=9091:9091/tcp
#PublishPort=51413:51413/tcp
#PublishPort=51413:51413/udp

Volume=/home/media/transmission/config:/config:Z
Volume=/mnt/data/torrent:/downloads:z

AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
